{{#partial "content"}}
<div class="welcomeNote endangeredAnimal">
        <div class="text-center" id="welcome">
        <h1>Protect wildlife.</h1>
        <h1><em>Prevent pandemics</em></h1>
        </div>

    <div id="card33" class="card">
        <div class="secondPage"> <br><br>
            <p class="text-center">KWS is an animal protection company.We value animals the same way we value you.</p>
            <p class="text-center">The survival of Africa’s endangered species and other wildlife depends on its relationship with people.</p>
            <p class="text-center">As human populations grow with the development of industry and infrastructure, our programs balance multiple priorities to mitigate the threats <br>
                facing endangered species and historic wildlife habitats.</p>
        </div><br><br>

        <a href="endangeredAnimal"><button class="btn btn-success btns">View Animals Spotted Here</button></a>
    </div><br><br>

</div>


{{/partial}}
{{> layout.hbs}}