{{#partial "content"}}
    <div class="card">
        <h1 class="text-primary">Success!</h1>

        <p> Your Tally has been recorded successfully.|| <em><a href="/">Go back</a></em></p>
    </div>
{{/partial}}

{{> layout.hbs}}